$color-white: #ffffff;
$color-background: #e7e7e7;
$color-black: #000;

$color-shadow: #ccc;
$color-foreground: #222;
$color-border: #eee;
$color-primary: #4e48f2;
$color-primary-light: #645fee;
$color-primary-dark: #433df3;
