$color-white: #ffffff;
$color-background: #e7e7e7;
$color-black: #000;

$color-shadow: #aaa;
$color-foreground: #222;
$color-border: #eee;
$color-primary: #ebebeb;
$color-primary-light-blur: #5954eee1;
$color-primary-light: #5a54ee;
$color-primary-dark: #433df3;
